<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <p-card header="Вхід" styleClass="form-card">
    <div class="form-group">
      <p-floatlabel>
        <label class="field-label" for="email">Email</label>
        <input
          id="email"
          type="email"
          class="line-border"
          pInputText
          setCursorOnFocus
          formControlName="email"
          (blur)="onFieldBlur('email')"
          (focus)="onFieldFocus('email')"
        />
      </p-floatlabel>
      <small *ngIf="showErrors('email')" class="p-error">
        Будь ласка, введіть коректний email
      </small>
    </div>

    <div class="form-group">
       <p-floatlabel>
        <label class="field-label" for="repeatPassword">Введіть пароль</label>
        <p-password
          id="password"
          inputStyleClass="line-border"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          (onBlur)="onFieldBlur('password')"
          (onFocus)="onFieldFocus('password')"
        ></p-password>
      </p-floatlabel>
      <small *ngIf="showErrors('password')" class="p-error">
        Будь ласка, введіть пароль
      </small>
    </div>

    <div class="form-btn">
      <p-button 
        type="submit" 
        label="Увійти"
        [loading]="isLoading"
      ></p-button>
    </div>

    <p-divider align="center" type="solid">
      <span class="text-secondary">АБО</span>
    </p-divider>

    <div class="register-link">
      <a routerLink="/auth/register">Зареєструватися</a>
    </div>
  </p-card>
</form>
