<nav class="nav-bar flex space-around center">
  <a routerLink="/home" class="link flex column center" routerLinkActive="active">
    <i class="icon pi pi-volume-up"></i>
    <span>Action</span>
  </a>
  <a routerLink="/active" class="link flex column center" routerLinkActive="active">
    <i class="icon pi pi-desktop"></i>
    <span>Active</span>
  </a>
  <a routerLink="/settings" class="link flex column center" routerLinkActive="active">
    <i class="icon pi pi-clipboard"></i>
    <span>Settings</span>
  </a>
  <a routerLink="/profile" class="link flex column center" routerLinkActive="active">
    <i class="icon pi pi-user"></i>
    <span>Profile</span>
  </a>
</nav>
