<nav class="nav-bar flex space-around center">
  <a routerLink="/home" class="link flex column center" routerLinkActive="active">
    <i class="icon pi pi-volume-up"></i>
    <span>Інформ</span>
  </a>
  <a routerLink="/qr/active" class="link flex column center" routerLinkActive="active">
    <i class="icon pi pi-desktop"></i>
    <span>Активні</span>
  </a>
  <a routerLink="/qr/settings" class="link flex column center" routerLinkActive="active">
    <i class="icon pi pi-clipboard"></i>
    <span>Мої шаблони</span>
  </a>
  <a routerLink="/profile" class="link flex column center" routerLinkActive="active">
    <i class="icon pi pi-user"></i>
    <span>Профіль</span>
  </a>
</nav>
