:host {
  display: block;
  padding: 2rem;
}

.register-form {
  max-width: 450px;
  margin: 0 auto;

  .logo{
    display: flex;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 9px 2px #9E9E9E;
  }
}

.form-field {
  margin-bottom: 1.5rem;
}

.form-error-summary {
  min-height: 2.5rem; // Reserve space for potential error messages
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin-bottom: 1rem;

  &.has-errors {
    opacity: 1;
  }
}

:host ::ng-deep {
  .p-floatlabel label{
    color: var(--p-primary-700);
  }
}
