:host {
  display: block;
  height: 100%;
}
.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 0;
  height: 100%;

  .card-section {
    height: 100%;
    overflow: scroll;
    .p-card-body {
      // overflow: scroll;
    }
    form {
      display: flex;
      flex-direction: column;
      min-height: 0;
    }
  }
}

.form-field {
  position: relative;
  margin-bottom: 3rem;
}

.list-wrap {
  i.pi {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--p-primary-900);
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--p-text-color-primary);
    }
  }

  .item-wrap {
    position: relative;
    padding: 2rem 1rem 0.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--p-surface-border);
    border-radius: 8px;
    background-color: var(--p-surface-ground);
  }

  .plus-btn {
    display: block;
    margin-bottom: 1rem;
  }

  .list-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}
