.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 20px;
  padding-bottom: 80px;
}

.swipe-button-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  touch-action: none;
  text-align: center;
}

.swipe-button {
  width: 100%;
  padding: 16px;
  background: var(--color-primary-green);
  box-shadow: 0px 0px 13px 2px var(--color-primary-green);
  color: white;
  border: 1px solid #aadaa5;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  font-size: 27px;
  cursor: grab;
  transition: transform 0.1s ease-out;
  touch-action: none;
  user-select: none;

  &:active {
    cursor: grabbing;
  }
}

.action-hints {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.hint {
  color: #666;
  opacity: 0.5;
  transition: all 0.2s ease;

  &.active {
    color: #1976d2;
    opacity: 1;
    transform: scale(1.1);
  }
}

///////  ARROWS ANIMATION.  ///////

.arrow {
  position: absolute;
  background-image: url('/icons/arrow-right.svg');
  width: 25px;
  height: 25px;
  background-size: contain;
  &.left {
    left: 30px;
    top: 50%;
    margin-top: -12px;
    rotate: -180deg;
  }
  &.right {
    right: 30px;
    top: 50%;
    margin-top: -12px;
  }
}

.segunda.left {
  margin-left: 15px;
}

.segunda.right {
  margin-right: 15px;
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.arrow.primera {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
